<div class="w-full h-[300px] relative">
  <img
    ngSrc="/images/contact.avif"
    alt="Header"
    width="1200"
    height="800"
    class="h-[300px] w-full"
  />
  <div class="absolute top-0 left-0 w-full h-[300px] bg-black opacity-50"></div>
  <div
    class="absolute top-0 left-0 w-full h-[300px] text-white flex justify-center items-center text-4xl"
  >
    <div class="flex flex-col justify-center items-center gap-5">
      <p>تواصل معنا</p>
    </div>
  </div>
</div>

<div class="p-10 grid grid-cols-1 md:grid-cols-2 gap-10 text-2xl">
  <div>
    <p class="text-3xl mb-5">موقعنا</p>
    <p>المملكة العربية السعودية، الرياض، حي الاندلس، طريق خالد بن الوليد.</p>
    <p>صندوق بريد:6901</p>
    <p>الرمز البريدي: 13212 - 2708</p>
    <p></p>
    <p></p>
  </div>
  <div>
    <p class="text-3xl mb-5">اتصل بنا</p>
    <p>جوال: 0555490455</p>
    <p>ايميل: info&#64;tarteb.net</p>
  </div>
</div>
