<app-about-header></app-about-header>

 <div class=" p-10 w-[50%]">
  <p class="text-3xl mb-5">الرؤية</p>
  <p class="text-xl">
    ن نكون الخيار الأول لتقديم خدمات الموارد البشرية المتكاملة للشركات الصغيرة والمتوسطة، من خلال حلول مبتكرة وفعالة تدعم النمو والاستدامة.

  </p>
</div>

<div class="bg-gray-100  p-10 ">
  <p class="text-3xl mb-5">الرسالة</p>
  <p class="text-xl w-[50%]">
    تقديم خدمات احترافية في مجال الموارد البشرية، تشمل السياسات، التوظيف، الرواتب، الحضور، والإجراءات الإدارية، بما يسهم في رفع كفاءة العمل وتحقيق الامتثال والتنظيم داخل المنشآت.

  </p>
</div>

  <div class=" p-10">
  <p class="text-3xl mb-5">الأهداف</p>

    <ol class="text-xl">
      <li>دعم المنشآت الصغيرة والمتوسطة بخدمات موارد بشرية موثوقة.</li>
      <li>تعزيز الامتثال للأنظمة واللوائح المحلية.</li>
      <li>تحسين بيئة العمل وزيادة كفاءة الموظفين.</li>
      <li>تقديم حلول مرنة ومخصصة لكل منشأة حسب عدد الموظفين واحتياجاتها.</li>
      <li>تخفيف الأعباء الإدارية عن أصحاب العمل والتركيز على النمو.</li>
    </ol>

  </div>
