<div class="p-10">
  <p class="text-primary text-4xl text-center">الباقات</p>

  <div class="pt-15 mb-10 grid grid-cols-1 md:grid-cols-3 gap-10">
    @for (plan of plans; track plan.id) {
    <div class="rounded-lg ring-2 ring-primary p-5">
      <div class="flex justify-center mb-7 text-primary">
        <p class="text-center text-2xl">{{ plan.title }}</p>
      </div>

      @for (s of services; track s.id) {
      <div class="flex gap-2">
        <i class="pi pi-check text-primary"></i>
        <p>{{ s.title }}</p>
      </div>
      }
    </div>
    }
  </div>
  <p class="text-xl text-center text-gray-500">
    تُخصص باقات خاصة للشركات التي تضم أكثر من 15 موظفًا حسب التقييم والاحتياج.
  </p>
</div>
