<div class="p-10">
  <p class="text-primary text-4xl text-center">الباقات</p>

  <div class="pt-15 mb-10 grid grid-cols-1 md:grid-cols-3 gap-10">
    @for (plan of plans; track plan.id) {
    <div class="rounded-lg ring-2 ring-primary p-5">
      <div class="flex justify-center text-primary">
        <p class="text-center text-2xl">{{ plan.title }}</p>
      </div>
      <p class="text-center text-gray-500 mb-7">{{ plan.desc }}</p>

      @for (s of services; track s.id) {
      <div class="flex gap-2">
        <i class="pi pi-check text-primary"></i>
        <p>{{ s.title }}</p>
      </div>
      }

      <div class="flex justify-center pt-5">
        <p-button label="اختر الخدمة" (click)="showDialog(plan.subject)" />
      </div>
      <p-dialog
        header="بيانات الاتصال"
        [modal]="true"
        [(visible)]="visible"
        [style]="{ width: '25rem' }"
      >
        <span class="p-text-secondary block mb-8"
          >برجاء ملئ استمارة بيانات الاتصال.</span
        >
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="flex items-center gap-4 mb-4">
            <label for="username" class="font-semibold w-24">الاسم</label>
            <input
              pInputText
              id="username"
              class="flex-auto"
              autocomplete="off"
              formControlName="name"
            />
          </div>
          <div class="flex items-center gap-4 mb-4">
            <label for="username" class="font-semibold w-24">رقم الجوال</label>
            <input
              pInputText
              id="username"
              class="flex-auto"
              autocomplete="off"
              formControlName="phone"
            />
          </div>
          <div class="flex items-center gap-4 mb-8">
            <label for="email" class="font-semibold w-24"
              >البريد الإلكتروني</label
            >
            <input
              pInputText
              id="email"
              class="flex-auto"
              autocomplete="off"
              formControlName="email"
            />
          </div>
          <div class="flex justify-end gap-2">
            <p-button
              label="إلغاء"
              severity="secondary"
              (click)="visible = false"
            />
            <p-button label="إرسال" type="submit" />
          </div>
        </form>
      </p-dialog>
    </div>

    }
  </div>
  <p class="text-xl text-center text-gray-500">
    تُخصص باقات خاصة للشركات التي تضم أكثر من 25 موظفًا حسب التقييم والاحتياج.
  </p>
</div>

<p-toast></p-toast>
