<app-home-header></app-home-header>
<app-about-us></app-about-us>
<app-services></app-services>
<app-plans></app-plans>
<div class="p-10 flex flex-col justify-center items-center gap-10">
  <p class="text-xl">تابعنا عبر منصات السوشيال ميديا</p>

  <div class="flex gap-3 justify-center items-center">
    <a
      href="https://x.com/tartebadm?s=11&t=NtieHcrZpJ4zjy5AEOo0ZQ"
      target="_blank"
    >
      <img
        ngSrc="/images/x.avif"
        alt="x"
        width="50"
        height="50"
        class="w-15 h-15"
      />
    </a>
    <a
      href="https://www.instagram.com/tarteb.2?igsh=bzFzOWc2MWdjNHdj&utm_source=qr"
      target="_blank"
    >
      <img
        ngSrc="/images/instagram.png"
        alt="instagram"
        width="50"
        height="50"
        class="w-15 h-15"
      />
    </a>
    <a
      href="https://www.tiktok.com/@tarteb.2?_t=ZS-8yal14Lonwu&_r=1"
      target="_blank"
    >
      <img
        ngSrc="/images/tiktok.webp"
        alt="tiktok"
        width="50"
        height="50"
        class="w-15 h-15"
      />
    </a>
  </div>

  <div>
    <p class="text-xl">لمزيد من الإستفسارات</p>
  </div>

  <div class="flex flex-col justify-center items-center">
    <a routerLink="/contact-us">
      <button class="bg-primary text-white px-5 py-3 rounded cursor-pointer">
        تواصل معنا
      </button>
    </a>
  </div>
</div>
